*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
:root{

    --primary-purple: #4D2FB2;
    --white:#F7F9F2;
    --dark: #061E29;
    --ligth-theme-primary:#80ED99;
    
    
}
.light-theme{
    background-color: var(--white);
}
.dark-theme{
    background-color: var(--dark);
}

.light-theme a:hover{

    color: var(--ligth-theme-primary);
    transition: 100ms;

}
.dark-theme a:hover{

    color: var(--primary-purple);
    transition: 100ms;

}
li{

    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    column-gap: .7em;
    border-radius: 10px;
    transition: 300ms;
    padding: .8em;
    background-color: var(--white);

}

button{
    background: none;
    border: none;
}

.navbar .container-fluid{
    display: flex;
    align-items: center;
    gap: .75em;
}

.navbar .navbar-toggler{
    margin-left: .5em;
}
li:hover{

    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}
.img{

    width: 40px;
    height: 40px;
    border-radius: 1.2em;

}
.nav-projects{
    color: var(--dark);
    font-size: 1.5em;
    text-decoration: none;
}

.light-theme .offcanvas-title{

    color: var(--ligth-theme-primary);
}
.dark-theme .offcanvas-title{

    color: var(--primary-purple);
}
.nav-title{

    color: var(--primary-purple);
    font-size: 2.2em;
    text-decoration: none;
    font-weight: bold;

}
.nav-title2{

    color: var(--white);
    font-size: 2.2em;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: .35em;
    margin: 0;
    line-height: 1;
    margin-left: auto;

}
.nav-title2 svg{
    display: block;
}
.nav-title2 svg{
    animation: navArrowHint 900ms ease-in-out infinite;
    transform-origin: center;
}
#offcanvasDarkNavbar{
    background-color: transparent;
}

.light-theme #offcanvasDarkNavbar{
    background-color: var(--dark);
}

.dark-theme #offcanvasDarkNavbar{
    background-color: var(--white);
}

/* Body */

.center{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.text{
    display: flex;
    flex-direction: column;
    width: 40em;
    height: 20em;
    text-align: justify;
}
.photo{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    text-align: justify;
}
#link{

    width: 52px;
    height: 52px;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

}
#git{

    width: 52px;
    height: 52px;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

}
.light-theme #link:hover{

    background-color: var(--ligth-theme-primary);
    border-radius: .2em;
    transition: 300ms linear;

}
.dark-theme #link:hover{

    background-color: var(--primary-purple);
    border-radius: .2em;
    transition: 300ms linear;

}
.light-theme #git:hover{

    background-color: var(--ligth-theme-primary);
    border-radius: .2em;
    transition: 300ms linear;
}
.dark-theme #git:hover{

    background-color: var(--primary-purple);
    border-radius: .2em;
    transition: 300ms linear;

}
.light-theme .text p{
    font-size: 5.0em;
    color: var(--dark);
}
.dark-theme .text p{
    font-size: 5.0em;
    color: var(--white);
}
.light-theme .text h5{
    font-size: 1.5em;
    color: var(--dark);
}
.dark-theme .text h5{
    font-size: 1.5em;
    color: var(--white);
}
.light-theme .text .nome{
    color: var(--ligth-theme-primary);
    border-right: 12px solid var(--ligth-theme-primary);
    white-space: nowrap;
    overflow: hidden;

    animation: mark .5s step-end infinite, write 6s steps(22,end) infinite;

    width: 0ch;
}
@keyframes mark{

    50%{
        border-right-color: transparent;
    }
}
@keyframes write{

    20%{
        width: 12.9ch;
    }
    70%{
        width: 12.9ch;
    }
    85%{
        width: 0em;
    }100%{
        width: 0em;
    }
}
.dark-theme .text .nome{
    color: var(--primary-purple);
    border-right: 12px solid var(--primary-purple);
    white-space: nowrap;
    overflow: hidden;

    animation: mark .5s step-end infinite, write 10s steps(22,end) infinite;

    width: 0ch;
}
.contat{
    width: 43%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: .6em;
}

.light-theme .backgroundPhoto{

  width: 110%;
  height: 100em;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CradialGradient id=%22b%22 r=%22100%25%22 cx=%2250%25%22 cy=%2269%25%22%3E%3Cstop offset=%220%25%22 stop-color=%22%23CFFBE2%22%2F%3E%3Cstop offset=%2250%25%22 stop-color=%22%2380ED99%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%232F9E64%22%2F%3E%3C%2FradialGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M758.5 630Q650 760 481.5 792t-283-130q-114.5-162-8-337.5t314-184Q712 132 789.5 316t-31 314Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M758.5 630Q650 760 481.5 792t-283-130q-114.5-162-8-337.5t314-184Q712 132 789.5 316t-31 314Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  z-index: 1;
  position: relative;
  overflow: hidden;
  clip-path: path("M758.5 630Q650 760 481.5 792t-283-130q-114.5-162-8-337.5t314-184Q712 132 789.5 316t-31 314Z");

}
.backgroundPhoto img{
    width: 100%;
    height: 110%;
    z-index: 2;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%) scale(0.85);
    transform-origin: 50% 90%;
    animation: photoGrow 900ms ease-out both;
    object-fit: cover;
    object-position: center 15%;
}
.dark-theme .backgroundPhoto{

  width: 110%;
  height: 110%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CradialGradient id=%22b%22 r=%22100%25%22 cx=%2250%25%22 cy=%2269%25%22%3E%3Cstop offset=%220%25%22 stop-color=%22%239B8CF2%22%2F%3E%3Cstop offset=%2250%25%22 stop-color=%22%236B55D9%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%234D2FB2%22%2F%3E%3C%2FradialGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M815.5 682Q710 864 517.5 833.5t-329-182Q52 500 168 313t320.5-167Q693 166 807 333t8.5 349Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M815.5 682Q710 864 517.5 833.5t-329-182Q52 500 168 313t320.5-167Q693 166 807 333t8.5 349Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  position: relative;
  overflow: hidden;
  clip-path: path("M815.5 682Q710 864 517.5 833.5t-329-182Q52 500 168 313t320.5-167Q693 166 807 333t8.5 349Z");


}

@keyframes photoGrow{
    from{
        transform: translateX(-50%) scale(0.85);
        opacity: 0;
    }
    to{
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}

.apresentation{

    position: relative;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    line-height: 4.5em;

}

@keyframes navArrowHint{
    0%{
        transform: translateX(0);
        opacity: .7;
    }
    60%{
        transform: translateX(8px);
        opacity: 1;
    }
    100%{
        transform: translateX(0);
        opacity: .7;
    }
}
